body{
    margin-bottom: 100px;
    background-image: url(../assets/bg.png);
    font-family: 'Montserrat', sans-serif;
}


.navbarLayout{
    display: flex;
    align-items: center;
    gap: 5px;
    
}


.kepanjangan{
    display: flex;
    justify-content: center;
}

.kepanjangan h1{
    font-size: 2.5rem;
    margin: 2rem 0;
}

iframe.ubidots{
    box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;    
    
}

.info{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
